/* BackToTop.css */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .back-to-top.show {
    opacity: 1;
  }
  